:root {
  --primary-color: rgb(94, 191, 250);
  --secondary-color: rgb(255, 249, 166);
  --success-color: #95ff95;
  --caution: #ffe100;
  --danger: #fb7070;

  --white: #f4f4f4;
  --black: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

a:visited,
a:active {
  color: var(--black);
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.8rem;
  font-weight: 300;
  background-color: var(--white);
  outline: none;
  border: none;
  border-radius: 5px;
}

.btn.btn-primary {
  background-color: var(--primary-color);
}

.btn.btn-secondary {
  background-color: var(--secondary-color);
}

.btn.btn-danger {
  background-color: var(--danger);
}

.container {
  margin: 0 auto;
  max-width: 109rem;
  overflow: hidden;
  padding: 2rem 4rem;
  height: 100vh;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 25rem auto;
  grid-template-areas:
    'jobs-list jobs-report'
    'jobs-list job-details';
}

.jobs-list {
  grid-area: jobs-list;
  /* background-color: lightblue; */
  box-shadow: 3px 6px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow-y: auto;
}

.jobs-report {
  grid-area: jobs-report;
  background-color: rgb(255, 236, 200);
  box-shadow: 3px 6px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.job-details {
  grid-area: job-details;
  /* background-color: rgb(230, 173, 187); */
  box-shadow: 3px 6px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  min-height: 10rem;
}

.job-details .form {
  padding: 1.3rem;
}

.job-details .form .form-control {
  padding: 0.4rem 0.7rem;
  width: 100%;
}

.job-details .form .form-control.description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.job-details .form .form-control.description textarea {
  font-family: 'Raleway', sans-serif;
  min-height: 4rem;
  max-width: 45.5rem;
}

.lead {
  margin: 2.3rem auto;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1.2px;
}

.job-card {
  border: 1px solid #000;
  padding: 1.7rem 3.4rem;
  margin: 1.2rem;
  border-radius: 5px;
}

.job-card.selected {
  background-color: rgb(221, 86, 86);
}

.job-card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* MEDIA */
@media (max-width: 1040px) {
  .container {
    padding: 2rem 3rem;
  }
}

@media (max-width: 850px), (max-height: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
      'job-details'
      'jobs-list';
  }

  .jobs-report {
    display: none;
  }

  .lead {
    margin: 1.3rem auto;
    font-size: 1.4rem;
    letter-spacing: 1.1px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 2rem;
  }
}

@media (max-width: 470px) {
  .container {
    padding: 2rem 0.5rem;
  }
}
